/* Empty. Add your own CSS if you like */
input {
  box-shadow: -1px 1px 0px 1px #ebebeb;
  -webkit-transition: box-shadow 0.3s;
  transition: box-shadow 0.3s;
}
input:focus {
  outline: none;
  box-shadow: -1px 1px 0px 1px #4EA6EA;
}

.item-avatar > img:first-child {
  border-radius: 0%;
}
.bar-stable .button{
  margin-left:5px;
}
.item div{
  text-overflow: clip;
  white-space: normal;
}
.item div.content{
  margin-bottom: 0;
  color: #666;
  font-size: 14px;
  display: block;
}
.item .mChatSpoiler div.quotetitle{
  display: block;
}
.item .mChatSpoiler{
  display: none;
  border-color: #b2b2b2;
  background-color: #fff;
  color: #444;
  position: relative;
  z-index: 2;
  margin: 4px;
  border-width: 1px;
  border-style: solid;
  font-size: 16px;
}
.item div.content .mChatMessage div{
  display: block;
}
.quotetitle, .codetitle {
  /*todo*/
  background-color: #ddd;
  padding: 4px;
}
.quotecontent, .codecontent {
  /*todo*/
  background-color: #eee;
  padding: 4px;
}


.item div img{
  max-width: 100%;
  max-height: 100%;
}

b.button{
  font-family: "-apple-system", "Helvetica Neue", "Roboto", "Segoe UI", sans-serif;
  color: #444;
  position: relative;
  margin: 0;
  border-width: 1px;
  border-style: solid;
  border-radius: 4px;
  vertical-align: top;
  text-align: center;
  text-overflow: ellipsis;
  cursor: pointer;
  z-index: 1;
  padding: 0 8px;
  min-width: initial;
  min-height: 31px;
  font-weight: 400;
  font-size: 13px;
  line-height: 32px;
  margin-left:5px;
  border-color: #b2b2b2;
  background-color: #f8f8f8;
}

.bar-footer form,.item > div{
  display:flex;
  flex-direction: row;
  width:100%;
}
.bar-footer form input,.item div h2{
  flex-grow:1;
}

form[name="loginForm"] .bar-footer button{
  width:100%;
}
